# python _for_ loops

- A _for_ loop is used for iterating over a sequence(that is either a list, tuple, dictionary, set or a string).
- _for_ keyword in python is different from other object-oriented programming languages.
- with for loop we can execute a set of statements, once for each item in a list, tuple, set etc

In [3]:
# example:

fruits = ['apple', 'banana', 'cherry']
for x in fruits:
    print(x)

apple
banana
cherry

- the _for_ loop does not require an indexing variable to set beforehand

## Looping through a string
strings are also iterable objects as they contain a sequence of characters.

In [6]:
for x in "banana":
    print(x)

b
a
n
a
n
a

## break statement
with _break_ statement we can stop the loop before it has looped all the items:

In [7]:
#Exit the loop when x is banana 
fruits = ['apple', 'banana', 'cherry']
for x in fruits:
    print(x)
    if x == 'banana':
        break

apple
banana

In [33]:
#Exit the loop when x is "cherry", but this time the break comes before the print:
fruits = ['apple', 'banana', 'cherry', 'muskmelon']
for x in fruits:
    if x == 'cherry':
        break

    print(x)

apple
banana

In [12]:
fruits = ['apple', 'banana', 'cherry', 'apple1', 'banana2', 'cherry2']
for x in fruits:
    if x == 'cherry':
        break
    print(x)

apple
banana

## continue statement

with _continue_ statement we can stop the current iteration of the loop and continue with the next one

In [ ]:
# do not print banana

In [15]:
#Exit the loop when x is banana 
fruits = ['apple', 'banana', 'cherry']
for x in fruits:
    if x == 'banana':
        continue
    print(x)

apple
cherry

## range() function
- to loop through a set of code a specified number of times, we can use range() function
- the range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [16]:
# range() function
for x in range(6):
    print(x)

0
1
2
3
4
5

In [ ]:
# Note that range(6) is not the values of 0 to 6, but the values 0 to 5.

The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

In [17]:
# Using the start parameter:
for x in range(2, 6):
  print(x)

2
3
4
5

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

In [19]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

## else in for loop
the _else_ keyword in a _for_ loop specefies a block of code to be executed when loop is finished

In [34]:
# print a message at the end of the loop
for x in range(2, 6):
  print(x)
else:
    print("the loop is finished")

2
3
4
5
the loop is finished

In [35]:
#Break the loop when x is 3, and see what happens with the else block:
for x in range(6):
    if x==3:
        break
    print(x)
else:
    print("the loop is finished")

0
1
2

## Nested loops
- A nested loop is a loop inside a loop.
- the "inner loop" will be executed one time for each iteration of the "outer loop"

In [28]:
# print adjective for every fruit
adj = ['red','big','tasty']
fruits = ['apple', 'banana', 'cherry']

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## pass statement
_for_ loops cannot be empty, but if it need to have no content, we can put _pass_ statement to aviod getting an error

In [29]:
for x in [0,1,2]:
    pass