# Python List

## List
- Lists are used to store multiple  items in a single variable
- Lists are created using square brackets

In [4]:
# creating a list
thislist = ["apple", 'banana', 'mango']
print(thislist)

['apple', 'banana', 'mango']

## List Items
- List Items are *ordered* , *changeable* & allow *duplicate* values.
- List Items are indexed and the index starts from [0]

_Note_ - There are some _list methods_ that can change ethe order, but in general, the order of items are not changable

## Changable
The list is changable, meaning that we can change, add and remove items in a list after it has been created

In [7]:
# Changing an item in the list
my_list = ["apple", 'banana', 'mango']
print(my_list)

['apple', 'banana', 'mango']

In [9]:
my_list[1] = "blueberry"
print(my_list)

['apple', 'blueberry', 'mango']

In [10]:
# adding an _new_ item to the list
my_list = ["apple", 'banana', 'mango']
print(my_list)

['apple', 'banana', 'mango']

In [11]:
my_list.append('orange')
print(my_list)

['apple', 'banana', 'mango', 'orange']

In [16]:
# removing an  item from the list
my_list = ["apple", 'banana', 'mango']
print(my_list)

['apple', 'banana', 'mango']

In [17]:
my_list.remove('mango')
print(my_list)

['apple', 'banana']

## Allows duplicate
Since the lists are indexed, lists can have items with the same value

In [18]:
# adding an duplicate items to the list
my_list = ["apple", 'banana', 'mango', 'apple']
print(my_list)

['apple', 'banana', 'mango', 'apple']

## List Lenght

**len()** function is used to determine the number of items in a list

In [19]:
this_list = ['apple', 'mango', 'banana', 'papaya']
print(len(this_list))

4

## Data types of the list items
List items can be of any data type and a single list can have multiple data type

In [21]:
list1 = ['apple', 'banana', 'cherry']
list2 = [1,2,3]
list3 = [True, False, True]
list4 = ['apple', 2, True]

In [23]:
print(list1, list2, list3, list4)

['apple', 'banana', 'cherry'] [1, 2, 3] [True, False, True] ['apple', 2, True]

## The list() Constructor
it is possible to use the list() constructor when creating a new list

In [25]:
thislist = list(('apple','banana','orange','cherry'))

In [27]:
print(thislist)

['apple', 'banana', 'orange', 'cherry']

# Access List Items
- List items are indexed
- List items can be accessed by referring to the index number

In [2]:
#print 2nd item in the list(list index starts from 0)

list1 = ['apple', 'banana', 'cherry']
print(list1[1])

banana

## Negative Indexing
Negative Indexing is just starting the index from behind

In [4]:
# print last item from the list using negative indexing 
this_list = ['apple', 'banana', 'cherry']
print(this_list[-1])

cherry

## Range of indexes
A range can be specified from where to start and where to end, the value(s) returned will be a new list with specified items.

In [6]:
#return the 3rd, 4th & 5th item
this_list = ['apple', 'banana', 'cherry', 'orange', 'melon', 'kiwi']
print(this_list[2:5])  # note: the search will start at index 2(included) and end at index 5 (excluded) 1st item has end index 0

['cherry', 'orange', 'melon']

### By leaving out the start value the range will start at the first item

In [9]:
# Return the items from the list, starting from the beginning to, but not including "kiwi"
this_list = ['apple','banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango' ]
print(this_list[:4])

['apple', 'banana', 'cherry', 'orange']

## Range of Negative Index

In [13]:
# retrun the the item 'orange' (-4) to, but not including 'mango' (-1)
this_list = ['apple','banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango' ]
print(this_list[-4:-1])

['orange', 'kiwi', 'melon']

## Check if Item Exists:

In [15]:
this_list = ['apple','banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango' ]
if 'apple' in this_list:
    print('yes, apple is in the fruits list')

yes, apple is in the fruits list

## Change Item Values
we can change the value of a specefic item by refering to the index number

In [16]:
this_list = ['apple','banana', 'cherry'] 
this_list[1] = 'black currant'
print(this_list)

['apple', 'black currant', 'cherry']

## changing a range of item values 
to change the values of items with a specefic range
- define a list with new values
- refer to the range of index numbers where you want to insert the new values

In [23]:
#change the values 'banana' & 'cherry' to the values 'black currant' and 'water melon'
this_list = ['apple','banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango' ]
this_list[1:3] = 'black currant','watermelon'
print(this_list)

['apple', 'black currant', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [33]:
## Note: If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [32]:
# Change the 2nd value by replacing it with two new values
this_list = ['apple', 'banana', 'cherry']
this_list[1:2] = ('black currant', 'orange','pineapple')
print(this_list)

['apple', 'black currant', 'orange', 'pineapple', 'cherry']

In [34]:
##If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [36]:
thislist = ['apple', 'banana','cherry']
thislist[1:3] = ['watermelon']
print(thislist)

['apple', 'watermelon']

## Insert Items
To insert a new item, without replacing any of the existing values, we can use the insert() method
- the 'insert()' method inserts the item at a specified index-

In [38]:
# insert 'watermelon' as the third item
thislist = ['apple', 'banana', 'cherry']
thislist.insert(2, 'watermelon')
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

## Append List Items
To add an item to end of the list, we use 'append()' method

In [2]:
# using 'append()' method to append an item:
thislist = ['apple', 'banana', 'cherry']
thislist.append('orange')
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [3]:
## Extend List Items
thislist = ['apple', 'banana', 'cherry']
tropical = ['mango','pineapple','papaya']
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

## note:
the extend() method does not have to just append lists(), it can be used to append any iterable objects, i.e., tuples, sets, dictionaries etc

In [7]:
# add elements of a tup;e to a list
thislist = ['apple', 'banana','cherry']
thistuple = ('kiwi', 'orange')
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

## Remove List items
The remove() method removes the specified item

In [9]:
# Remove 'banana' from the list
thislist = ['apple','banana','cherry']
thislist.remove('banana')
print(thislist)

['apple', 'cherry']

In [10]:
#note: if there are multiple occurance of the specefied item, remove() will only remove the first occurance
thislist = ['apple', 'banana', 'cherry', 'banana']
thislist.remove('banana')
print(thislist)

['apple', 'cherry', 'banana']

## Removing items from the specefied index
the _pop()_ method, removes the item from the specefied index

In [15]:
#Remove the 2nd item from the list
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [16]:
#note: if the index is not specified, 'pop()' wull remove the last item
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

### del keyword

In [20]:
#similar to pop(), we can use del keyword to remove the specified item
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [21]:
# note 'del' keyword can also delete the list completely.
del thislist

## Clear the list
the clear() method empties the list
the list still remains, but it has not content

In [23]:
thislist = ["apple", "banana", "cherry"]
thislist.clear() 
print(thislist)

[]

## Loop through list
- lists can be looped by using _for_ loop

In [28]:
# print all the items in the list one by one
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

## Loop through the index number
- we can also loop through the list by using their index number
- use the range() & len() functions to create a suitable iterabale

In [44]:
## print all the items by referring to their index number
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(i, thislist[i])

0 apple
1 banana
2 cherry

In [32]:
len(thislist)

3

In [35]:
range(3)

range(0, 3)

In [40]:
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

## Looping using a while loop
- a list can be looped using a _while_ loop as well
- _len()_ function is used to determine the length of the list, then it starts at 0 & loops its way through the list item by referring to the indexes
- it is important to increment the index by 1 after each loop

In [50]:
# use a while loop to go through all the index numbers
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

In [52]:
# using for loop
fruits = ['apple', 'mango', 'banana', 'cherry']
newlist = []
for x in fruits:
    if 'a' in x:
        newlist.append(x)

print(newlist)

['apple', 'mango', 'banana']

In [57]:
# using List Comprehension
fruits = ['apple', 'mango', 'banana', 'cherry']

newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'mango', 'banana']

## Sorting a list Alphanumerically
-sort method can sort a list alphanumerically, ascending by default

In [59]:
# sort alphabeticaly
thislist = ['orange', 'apple', 'mango', 'pineapple', 'banana']
thislist.sort()
print(thislist)

['apple', 'banana', 'mango', 'orange', 'pineapple']

In [61]:
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'banana', 'apple']

In [ ]:
## Copy list
One can not just copy a list by simply typing list1 = list2, as list2 will only be a 'reference' to list1 and any changes made in any one of them will reflect in both of them.
copy() method is used to copy a list in python

In [62]:
# make a copy of a list with copy()
thislist = ['apple', 'orange', 'banana']
mylist = thislist.copy()
print(mylist)

['apple', 'orange', 'banana']

In [63]:
#list() method
mylist2 = list(thislist)
print(mylist2)

['apple', 'orange', 'banana']

In [65]:
#using slice ':' operator
mylist3 =  thislist[:]
print(mylist3)

['apple', 'orange', 'banana']

# Joining two lists
two lists can be joined using several methods

In [66]:
# + operator
list1 = ['a','b','c']
list2 = [1,2,3]
list3 = list1+list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [67]:
# append
for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [68]:
# using extend()
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

### List Methods in Python

Python has a set of built-in methods that you can use on lists:

| Method      | Description                                                                 |
|-------------|-----------------------------------------------------------------------------|
| `append()`  | Adds an element at the end of the list                                      |
| `clear()`   | Removes all the elements from the list                                      |
| `copy()`    | Returns a copy of the list                                                  |
| `count()`   | Returns the number of elements with the specified value                     |
| `extend()`  | Adds the elements of a list (or any iterable) to the end of the current list|
| `index()`   | Returns the index of the first element with the specified value             |
| `insert()`  | Adds an element at the specified position                                   |
| `pop()`     | Removes the element at the specified position                               |
| `remove()`  | Removes the item with the specified value                                   |
| `reverse()` | Reverses the order of the list                                              |
| `sort()`    | Sorts the list                                                              |