# Python List

## List
- Lists are used to store multiple  items in a single variable
- Lists are created using square brackets

In [4]:
# creating a list
thislist = ["apple", 'banana', 'mango']
print(thislist)

['apple', 'banana', 'mango']

## List Items
- List Items are *ordered* , *changeable* & allow *duplicate* values.
- List Items are indexed and the index starts from [0]

_Note_ - There are some _list methods_ that can change ethe order, but in general, the order of items are not changable

## Changable
The list is changable, meaning that we can change, add and remove items in a list after it has been created

In [7]:
# Changing an item in the list
my_list = ["apple", 'banana', 'mango']
print(my_list)

['apple', 'banana', 'mango']

In [9]:
my_list[1] = "blueberry"
print(my_list)

['apple', 'blueberry', 'mango']

In [10]:
# adding an _new_ item to the list
my_list = ["apple", 'banana', 'mango']
print(my_list)

['apple', 'banana', 'mango']

In [11]:
my_list.append('orange')
print(my_list)

['apple', 'banana', 'mango', 'orange']

In [16]:
# removing an  item from the list
my_list = ["apple", 'banana', 'mango']
print(my_list)

['apple', 'banana', 'mango']

In [17]:
my_list.remove('mango')
print(my_list)

['apple', 'banana']

## Allows duplicate
Since the lists are indexed, lists can have items with the same value

In [18]:
# adding an duplicate items to the list
my_list = ["apple", 'banana', 'mango', 'apple']
print(my_list)

['apple', 'banana', 'mango', 'apple']

## List Lenght

**len()** function is used to determine the number of items in a list

In [19]:
this_list = ['apple', 'mango', 'banana', 'papaya']
print(len(this_list))

4

## Data types of the list items
List items can be of any data type and a single list can have multiple data type

In [21]:
list1 = ['apple', 'banana', 'cherry']
list2 = [1,2,3]
list3 = [True, False, True]
list4 = ['apple', 2, True]

In [23]:
print(list1, list2, list3, list4)

['apple', 'banana', 'cherry'] [1, 2, 3] [True, False, True] ['apple', 2, True]

## The list() Constructor
it is possible to use the list() constructor when creating a new list

In [25]:
thislist = list(('apple','banana','orange','cherry'))

In [27]:
print(thislist)

['apple', 'banana', 'orange', 'cherry']

# Access List Items
- List items are indexed
- List items can be accessed by referring to the index number

In [2]:
#print 2nd item in the list(list index starts from 0)

list1 = ['apple', 'banana', 'cherry']
print(list1[1])

banana

## Negative Indexing
Negative Indexing is just starting the index from behind

In [4]:
# print last item from the list using negative indexing 
this_list = ['apple', 'banana', 'cherry']
print(this_list[-1])

cherry

## Range of indexes
A range can be specified from where to start and where to end, the value(s) returned will be a new list with specified items.

In [6]:
#return the 3rd, 4th & 5th item
this_list = ['apple', 'banana', 'cherry', 'orange', 'melon', 'kiwi']
print(this_list[2:5])  # note: the search will start at index 2(included) and end at index 5 (excluded) 1st item has end index 0

['cherry', 'orange', 'melon']

### By leaving out the start value the range will start at the first item

In [9]:
# Return the items from the list, starting from the beginning to, but not including "kiwi"
this_list = ['apple','banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango' ]
print(this_list[:4])

['apple', 'banana', 'cherry', 'orange']

## Range of Negative Index

In [13]:
# retrun the the item 'orange' (-4) to, but not including 'mango' (-1)
this_list = ['apple','banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango' ]
print(this_list[-4:-1])

['orange', 'kiwi', 'melon']

## Check if Item Exists:

In [15]:
this_list = ['apple','banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango' ]
if 'apple' in this_list:
    print('yes, apple is in the fruits list')

yes, apple is in the fruits list

## Change Item Values
we can change the value of a specefic item by refering to the index number

In [16]:
this_list = ['apple','banana', 'cherry'] 
this_list[1] = 'black currant'
print(this_list)

['apple', 'black currant', 'cherry']

## changing a range of item values 
to change the values of items with a specefic range
- define a list with new values
- refer to the range of index numbers where you want to insert the new values

In [23]:
#change the values 'banana' & 'cherry' to the values 'black currant' and 'water melon'
this_list = ['apple','banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango' ]
this_list[1:3] = 'black currant','watermelon'
print(this_list)

['apple', 'black currant', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [33]:
## Note: If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [32]:
# Change the 2nd value by replacing it with two new values
this_list = ['apple', 'banana', 'cherry']
this_list[1:2] = ('black currant', 'orange','pineapple')
print(this_list)

['apple', 'black currant', 'orange', 'pineapple', 'cherry']

In [34]:
##If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [36]:
thislist = ['apple', 'banana','cherry']
thislist[1:3] = ['watermelon']
print(thislist)

['apple', 'watermelon']

## Insert Items
To insert a new item, without replacing any of the existing values, we can use the insert() method
- the 'insert()' method inserts the item at a specified index-

In [38]:
# insert 'watermelon' as the third item
thislist = ['apple', 'banana', 'cherry']
thislist.insert(2, 'watermelon')
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']