# Variables

Variables are containers that stores data. Python does not have any commands for declaring variables.
To create variables we simply assing a value to it.

In [1]:
age = 21
name = 'Mary'

In [2]:
print(age)
print(name)

21
Mary

## Printing Variables with texts

In [4]:
print(name, "is", age, "years old.")

Mary is 21 years old.

In [5]:
print("John is older than", name+". He is", age + 5, "years old.")

John is older than Mary. He is 26 years old.

## Reassigning Variables

In [7]:
friend_name = name

In [8]:
print(friend_name)

Mary

## Multiple Variable Assingment with same value

In [9]:
mary_age = john_age = steve_age =21

In [12]:
print(mary_age)
print(john_age)
print(steve_age)

21
21
21

## Multiple Variable Assingment with different values

In [16]:
age, income, name = 21, "4000", "Atul"

In [17]:
print(name, 'is', age, 'years old and earns $'+ income +'.' )

Atul is 21 years old and earns $4000.

 # Data Types

- String
- Numeric
    - Integer
    - Float
    - Complex
- Boolean
- None
- Collection
    - List
    - Tuple
    - Dictionary
    - Set