# Variables

Variables are containers that stores data. Python does not have any commands for declaring variables.
To create variables we simply assing a value to it.

In [1]:
age = 21
name = 'Mary'

In [2]:
print(age)
print(name)

21
Mary

## Printing Variables with texts

In [4]:
print(name, "is", age, "years old.")

Mary is 21 years old.

In [5]:
print("John is older than", name+". He is", age + 5, "years old.")

John is older than Mary. He is 26 years old.

## Reassigning Variables

In [7]:
friend_name = name

In [8]:
print(friend_name)

Mary

## Multiple Variable Assingment with same value

In [9]:
mary_age = john_age = steve_age =21

In [12]:
print(mary_age)
print(john_age)
print(steve_age)

21
21
21

## Multiple Variable Assingment with different values

In [16]:
age, income, name = 21, "4000", "Atul"

In [17]:
print(name, 'is', age, 'years old and earns $'+ income +'.' )

Atul is 21 years old and earns $4000.

 # Data Types

- String
- Numeric
    - Integer
    - Float
    - Complex
- Boolean
- None
- Collection
    - List
    - Tuple
    - Dictionary
    - Set

## Creating Integer & String Variables

In [2]:
age = 21

In [3]:
name = 'Mary'

In [4]:
print(age)
print(name)

21
Mary

## Creating float & Boolean Variables

In [6]:
product_price = 3432.15  ##float
success = True  ##Boolean
print(product_price)
print(success)

3432.15
True

## Checking Data Types with __type()__ finction

In [8]:
print(type(name))
print(type(age))
print(type(product_price))
print(type(success))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

# Date Type Conversion
Python allows to convert one data type to another
- Type Conversion
  - Implicit Conversion - Arithmetic Operations
  - Explicit Conversion - Casting Operations

In [12]:
## Implicit Conversion 
#integer type
income = 200
#float type data 
additional_income = 50.75
#implicit conversion - Upon addition the resulatant variable becomes float type
total_income = income + additional_income
print(total_income)
print(type(total_income))

250.75
<class 'float'>

In [13]:
# note - Explicit conversion is required when you have a mixed data type

In [15]:
price = 100 #numeric
tax = "18" #string
total_cost = price + tax

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
# Corrected Code

In [17]:
total_cost = price + int(tax)  #explicit conversion to int data type

In [18]:
print(total_cost)

118

# Type Casting

Type casting also known as type conversion is the process of converting a variable from one data type to another in python.
It can be done explicitly by a programmer or imlictly by python

Type Casting
- int()
- float()
- str()
- bool()

In [23]:
# original_values
num_str = '100'
num_float = 10.5
num_int = 25
empty_str = ""

In [29]:
# typecasting 
int_value = int(num_str)
float_value = float(num_int)
str_value = str(num_float)
bool_value1 = bool(num_int)
bool_value2 = bool(empty_str)
#printing values
print("Integer:", int_value, type(int_value))
print("Float:", float_value, type(float_value))
print("String:", str_value, type(str_value))
print("Boolean(Non-Zero int):", bool_value1, type(bool_value1))
print("Boolean(Empty String):", bool_value2, type(bool_value2))

Integer: 100 <class 'int'>
Float: 25.0 <class 'float'>
String: 10.5 <class 'str'>
Boolean(Non-Zero int): True <class 'bool'>
Boolean(Empty String): False <class 'bool'>