# Strings

String in python are surrounded by either single quotation marks or double quotation marks
- _"hello"_ is same as _'hello'_
- String literal can be displayed with the **print()** function.

In [3]:
### Example
print("Hello")
print('Hello')

Hello
Hello

### Quotes inside Quotes

Quotes can be used inside the string as long as they don't match the quotes the surrounding the string.

In [6]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

## Assingning string to a Variable
Assingning a string to a variable is done with the variable name followed by an equalk sign & the string

In [7]:
a = 'Hello'

In [8]:
print(a)

Hello

## Mutliline Strings
Multiline string can be assinged to a variable by using three quotes(double or single)

In [9]:
a = '''Jamshedpur: After days of scorching heat and relentless humidity, people across Jharkhand can finally breathe a sigh of relief. 
The India Meteorological Department (IMD) has forecast a significant shift in weather patterns, predicting rain accompanied by strong winds, thunderstorms, and lightning across the state for the next six days, starting April 26 through May 1.
According to the IMD, a yellow alert has been issued for several districts, especially in the northeastern (Deoghar, Dhanbad, Dumka) and southern regions (East Singhbhum, West Singhbhum, etc.) of Jharkhand. 
These areas are likely to witness moderate to heavy rainfall along with thunderstorms, providing much-needed respite from the oppressive weather.'''

In [10]:
print(a)

Jamshedpur: After days of scorching heat and relentless humidity, people across Jharkhand can finally breathe a sigh of relief.
The India Meteorological Department (IMD) has forecast a significant shift in weather patterns, predicting rain accompanied by strong winds, thunderstorms, and lightning across the state for the next six days, starting April 26 through May 1.
According to the IMD, a yellow alert has been issued for several districts, especially in the northeastern (Deoghar, Dhanbad, Dumka) and southern regions (East Singhbhum, West Singhbhum, etc.) of Jharkhand.
These areas are likely to witness moderate to heavy rainfall along with thunderstorms, providing much-needed respite from the oppressive weather.

# Strings are Arrays
- Strings in Python are Arrays of bytes representing unicode characters.
- python does not have a character data type. A single character is simply a string with length 1.
- String bracket can be used to access elements of the string

In [13]:
# Get the element at position 1
# note - the first character has position 0
a = 'Hello, World!'
print(a[0])

H

## Looping through a string
Since strings are arrays, we can loop through the characters in a string with a _for_ loop.

In [18]:
#Loop through the letters in the word "banana"

for x in "banana":
    print(x)

b
a
n
a
n
a

## String Length
To get the length of string we use _len()_ function

In [17]:
a = "Hello! World!"
print(len(a))

13

## Check String
To check if certain phrase or characters are present in a string, we can use the keyword _in_

In [21]:
# chceck if 'free' is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

In [24]:
# Using it as an "if" statement
#print only if 'free' is present
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes! 'free' is present")

Yes! 'free' is present

## Check if NOT

In [26]:
#check if "expensive" is NOT present in the following text
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [28]:
if "expensive" not in txt:
    print("NO, 'expensive' is NOT present.")

NO, 'expensive' is NOT present.

# Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [30]:
# Get the characters from position 2 to position 5 (not included):
b = "Hello, World!"
print(b[2:5])

llo

## Slicing from the Start
By leaving out the start index, the range will _start_ at the first character:

In [33]:
# get characters from start to position 5(not included)
b = "Hello, World!"
print(b[:5])

Hello

## Slicing to the end
By leaving out the _end_ index, the range will go to the end.

In [37]:
# get the character from the position 2 and all the way to the end.
b = "Hello, World!"
print(b[2:])

llo, World!

## Negative Indexing
Use _'negative'_ indexes to start the slice from the end  of the string:

In [43]:
# Get the chracters:
# from:'o' in the "World!" (Position -5)
# to, but not included: "d" in "World!" (position -2).

b = "Hello, World!"
print(b[-5:-2])

orl

### Modify Strings
Python has a set of built in methods that you can use on strings:

### Upper Case
the upper() method returns the string in the upper case

In [46]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

### Lower Case
the lower() method returns the string in the lower case

In [47]:
print(a.lower())

hello, world!

### Remove Whitespaces
The strip() method removes any whitespaces from the beginning or the end

In [49]:
b = " Hello, World! "
print(b.strip())

Hello, World!

### Replace String
The replace() method replaces a string with another string

In [50]:
print(a.replace("H","Y"))

Yello, World!

### Split String
the split() method splits the string into substring if it finds instances of the separator

In [51]:
print(a.split(', '))

['Hello', 'World!']

## String Format
We can not combine strings and numbers in Python,  without typecasting the numbers

In [56]:
age = 36
name = 'John'
txt = name + " is " + age + " years old."
print(txt)

TypeError: can only concatenate str (not "int") to str

## Fstrings
Put an 'f' in front of the string literal and add curly brackets {} as 'placeholder' for the variables an other operations

In [58]:
txt = f"{name} is {age} years old."
print(txt)

John is 36 years old.

## Placeholders & Modifiers
A placeholder can contain variables, operations, functions & modifiers to format the value

In [61]:
# add a placeholder for the price variable
price = 59
txt = f"The price is {price} dollars."
print(txt)

The price is 59 dollars.

### A place holder can use a _modifier_ by adding a colol _:_  followed by a legal formatting type

In [68]:
# display the price with 2 decimals:
price = 59
txt = f"The price is ${price:.2f}"
print(txt)

The price is $59.00

In [70]:
### A placeholder can contain python code, like math operation
txt = f"The price for 5 items is ${price * 5}."
print(txt)

The price for 5 items is $295.